{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .container {
            margin-top: 40px;
        }
        .table {
            margin-top: 20px;
        }
        .table th {
            background-color: #dc6900;
            color: #ffffff;
        }
    </style>



    <div class="container">
        <h1 class="text-center mb-4">Staff Overview</h1>
    <form action="{{ url_for('send_monthly_forecast_email') }}" method="post">
    <button type="submit" class="btn btn-primary">Send Monthly Forecast Emails</button>
</form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Team Leader</th>
                    <th>receive notifications</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in staff_members %}
                <tr>
                    <td>{{ staff.id }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.email }}</td>
                    <td>{{ 'Yes' if staff.is_team_leader else 'No' }}</td>
                    <td>{{ 'Yes' if staff.receive_notifications else 'No' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}
